#questionText {
    /* font-weight: 600;
    margin-left: 25%;
    margin-right: 10%; */
    font-weight: 600;
    margin-left: 25%;
    margin-right: 10%;
    position: relative;
    top: 200px;
    z-index: 2;
    opacity: 1;
    font-family: Shojumaru;
}

#choicesB {
    display: inline-block;
    position: relative;
    top: 4.7em;
    font-weight: 600;
    z-index: 2;
    opacity: 1;
    font-family: Shojumaru;
    padding: 5px;
    margin: 5px;
    background-color: greenyellow;
    margin-left: 5%;
    margin-right: 5%;
}

#jumbotron {
    margin: 100px;
    height: -5px;
    opacity: 0.8;
    color: rgb(221, 205, 210);
    padding: 170px;
}

#header {
    margin-left: 15%;
    margin-right: 15%;
    padding: 20px;
    font-family: Shojumaru;
}

#body {
    background-image: url(Dragon-Ball.jpg);
    background-size: 100%;
}